Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Flask-Script==2.0.6
Flask-Migrate==2.1.1
Flask-Login==0.4.1
Flask-APScheduler==1.8.0
WTForms==2.1
pypugjs==5.6.0
python-dateutil==2.7.3
PyMySQL==0.8.1
psycopg2==2.7.4
reportlab==3.4.0
uwsgi==2.0.17
