extends layout.pug

block title
    |New Entry
block content
    form(action="{{ url_for('entres_create') }}",method="POST")
      +generate_fields(form)
      input.btn.btn-success(type="submit",value="Add")
