extends layout.pug

block title
    |出退勤簿
block content
    table.table.table-hover
        thead
            tr
                th #
                th 名前
                td
        tbody
            for person in persons
                tr
                    td= person.id
                    td= person.name
                    td
                        .row
                            a.btn.btn-info.pull-right(href="{{ url_for('workrecs.index',id=person.id) }}") 勤務表
